#logo {
    max-width: 100%;
}

/* NAV_SMALL AND NAV_MEDIUM */
.nav-sm .nav-link, .nav-md .nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    transition: 250ms;
    letter-spacing: .2px;
}
.nav-sm .nav-link:hover, .nav-md .nav-link:hover, .active .nav-link {
    color: #046c3c;
}

/* NAV_SMALL */
.nav-sm {
    background: #2c3034;
    color: #fff;
}
.nav-sm .nav-item {
    width: 100%;
}
.nav-sm .nav-link {
    color: #fff;
}

/* NAV_MEDIUM */
.nav-md .nav-link {
    color: #555;
    margin-left: 5px !important;
}
.nav-md {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 99;
    background: white;
}
.nav-md .nav-link:first-child { margin-left: 0; }
.nav-md .nav-link:hover, .active .nav-link {
    color: #47D1AE;
}


/* Tiles */
.tile {
    filter: saturate(50%);
    position: relative;
    cursor: pointer;
}
.tile::before {
    content: "";
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background: black;
    opacity: 0;
    transition: 300ms;
}
.tile:hover::before {
    opacity: .6;
}
.tile::after {
    padding: 5px 10px;
    color: #fff;
    position: absolute;
    top:50%;left:0;right:0;
    transform: translate(0,-50%);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-weight: 600;
    opacity: 0;
    transition: 300ms;
    text-shadow: 5px 5px 30px black;
}
.tile:hover::after {
    opacity: 1;
}

#tile-welcome::after {
    content: "Witamy na stronie Antorium.pl!";
}
#tile-rental::after {
    content: "Wypożyczalnia";
}
#tile-team::after {
    content: "Poznaj nas!";
}
#tile-services::after {
    content: "Serwis";
}
#tile-offer::after {
    content: "Oferta";
}
#tile-faq::after {
    content: "FAQ";
}
#tile-gallery::after {
    content: "Galeria";
}
#tile-contact::after {
    content: "Kontakt";
}

.square-tile {
    height: 240px;
}

/* Footer */
footer {
    font-family: 'Lato', sans-serif;
}
.footer-info {
    background: #efefef;
    color: #444;
    font-size: .9rem;
}
.footer-info h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #343232;
}
.footer-info p {
    margin: 4px 0;
    letter-spacing: -.2px;
}
.footer-info li {
    width: 100%;
}
.footer-info li a > i {
    color: #888;
}
.footer-info li a{
    border-bottom: 1px solid #bababa;
    display: block;
    width: 100%;
    padding: 12px 0;
    transition: 150ms;
}
.footer-info li a:hover {
    color: #666;
    text-decoration: none;
}
.footer-info i {
    margin-right: 8px;
    color: #046c3c;
}
.footer-copyright {
    background: #141515;
    color: #7e7777;
}
.footer-copyright a {
    color: #046c3c;
}

/* Contact.php */
.contact {
    font-family: 'Lato', sans-serif;
}
.contact i {
    margin-right: 8px;
}
#contact-form input, #contact-form textarea {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
}
#contact-form input:focus, #contact-form textarea:focus {
    box-shadow: none;
}
#contact-form input[type="submit"] {
    background: #448b64;
    border-bottom: 0;
    transition: 200ms;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: .2px;
}